*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 236, 187);
}
#panel{
  height: 90%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
}
#ptop{
  display: flex;
  padding: 0px 30%;
  color:rgb(68, 105, 16);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: pink;
}
.box{ 
  border-radius: 0px;
  background-color: #fff;
  padding: 10px;
}
#elem{
  display: flex;
  align-items: center;
  gap: 10px; 
}
#pbtm{
  width: 100%;
  height: calc(100% - 100px);
  background-color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.circle{
  display: flex;
  align-items: center;
  justify-content: center;
 
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: red;
}
.circle:hover{
  cursor: pointer;
  background-color: darkred;
}
